/* regole generali */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}


/* regole di debug */
[class*="col-"] {
  min-height: 100px;
  background-color: lightgreen;
  border: solid 1px black;
  padding: 2px;
  text-align: center;
}

/* .row .col-6 div  */
[class*="col-"] > .row > [class*="col-"]{
  background-color: salmon;
  border-color: #fff;
}

.centra-head-foot{
  padding: 0 10%;
}

/* header */

/* header {
  padding-top: 100px;
} */

#nav-large {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background-color: white;
}
.menu{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
}
ul > li{
  display: inline-block;
  padding: 5px;
  font-size: 15px;
}
li > a{
  text-decoration: none;
  color: black;
}
#nav-mobile {
  display: none;
}

#jumbo {
  background-image: url(../img/jumbotron.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 600px;
  position: relative;
}
#jumbocolor{
  background-color: rgba(187, 43, 43, 0.3);
  min-height: 600px;
}
#homepage{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
  width: 100%;
}
#homepage p{
  margin: 20px;
  color: white;
  font-size: 16px;
}
#homepage h1{
  font-size: 40px;
  color: white;
  font-weight: bold;
}
#homepage button{
  color: black;
  padding: 10px;
  border-radius: 5px;
  box-sizing: border-box;
  min-width: 100px;
  min-height: 35px;
  max-height: 64px;
  background-color: lightgrey;
  position: relative;
  cursor: pointer;
}
#hpbutton{
  height: 100px;
}
#hpbutton > div{
  margin: 20px;
}
#applebutton{
  display: inline-block;
}

#applebutton img{
  height: 20px;
  max-width: 16px;
  position: absolute;
  top: 50%;
  transform: translate(-50% , -50%);
  margin: 10px;
}

#googlebutton{
  display: inline-block;
}
#googlebutton img{
  height: 20px;
  max-width: 16px;
  position: absolute;
  top: 50%;
  transform: translate(-50% , -50%);
  margin: 10px;
}

#hpbutton span{
  right: 0;
}
/* regole corpo pagina */

.centra-sez1 {
  padding: 0 5%;
}
.centra-sez2 {
  padding: 0 10%;
}

/* sezione prodotti */
.Product{
  padding: 30px;
}




/* sezione how do */
#iphone{
  max-height: 300px;
  width: auto;
}
.subtitle-sez2{
  min-height: 300px;
  position: relative;
}
.subtitle-sez2 > h2{
  line-height: 300px;
}
.steps{
  margin-top: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
}


/* sezione smart mobility */
.margin{
  margin: 50px 0;
}
.sfondosmart{
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  min-height: 550px;
}
.sfondosmart > #testosmart{
  position: absolute;
  top: 50%;
  left: 80%;
  transform: translate(-50% , -50%);
}
#alpha{
  background-image: url(../img/scooter.jpg);
}
#beta{
  background-image: url(../img/app.jpg);
  background-position:bottom;
  background-size: contain;
}
#gamma{
    background-image: url(../img/sfondo_info3.jpg);
}
.get{
  width: 100%;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50% , -50%);
}
.get >h2{
  font-size: 30px;
  margin: 10px;
}
.get h4{
  margin:10px;
}
.get > a{
  text-decoration: none;
  color: black;
}
.find{
  width: 100%;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50% , -50%);
}
.find >h2{
  font-size: 30px;
  margin: 10px;
}
.find > a{
  text-decoration: none;
  color: black;
  font-size: 20px;
}

/* sezione social */







/* versione smartphone extrasmall device */
@media all and (max-width: 768px){
 #nav-large{
  display: none;
 }
 #nav-mobile{
  display: block;
 }
 ul > li{
  font-size: 12px;
 }
}


/* versione tablet medium device */
@media all and (min-width: 769px) and (max-width: 992px){











}

/* versione desktop large device */
@media all and (min-width: 993px){






}
